

/* ==========================================================================
        This is my personal protfolio website
=================================================================*/
*{
    margin: 0;
    padding: 0;
    outline: 0;
    box-sizing:border-box;
    font-family: 'Open Sans', sans-serif;
   
}
ol, ul{
    list-style: none;
    margin: 0;
    padding: 0;

}
a{
    text-decoration:none;
    color: #000;
}
img{
    vertical-align: middle;
}
h1,h2,h3,h4,h5,h6{
    font-family: 'Oswald', sans-serif;
    margin: 0;
    padding: 0;
}
p{
    margin: 0;
    padding: 0;
}
:root{
    --primary_color:#0872b9;
    --secondary_color:#5bc5f4;
}

.container{
    max-width: 70% !important;
}
/*----------- common css end----------- */

/* ----------Back to top part start--------- */
.back_to_top{
    position: fixed;
    bottom: 15px;
    left: 15px;
    display: none;
}
/* ----------Back to top part end--------- */
/* ----------welcome part start--------- */
.welcome_part{
    background:var(--primary_color);
    padding:10px 0;
}

.welcome_icon li a{
    color: #fff;
    padding:0 10px;
    transition: 0.3s;
}
.welcome_icon li a:hover{
    color: #353535;
}

/* ----------welcome part end--------- */

/* nav part start */

.navbar{
    background: rgb(240, 235, 235);
}
.nav-item{
    padding-left: 17px;
}
.nav_part{
    position: sticky;
    top: 0;
    background: #F8F9FA;
    z-index: 9;
}
.nav_bg{
    background:var(--primary_color);
    transition: .4s;
    box-shadow: 0 0 20px -6px black;
}
.nav-link{
    color: rgb(0, 0, 0);
    font-size: 18px;
    text-transform: uppercase;
    font-weight: 600;
    transition: .3s;
}
.nav-link:focus, .nav-link:hover{
    color: #0872b9;

}
/* .dropdown:hover .dropdown-menu{
    display: block;
} */

/* nav part end */

/* hero part start */
.hero_part{
    /* background: url(../img/about_image.jpg); */
    background: url(../img/web-develoment.jpg);
    /* background: #1E1E1E; */
    background-repeat: no-repeat;
    background-size: cover;
    overflow-x: hidden;
    overflow-y: hidden;

}
.overlay{
    background-color: rgba(0,0,0,.5);
}
.hero_content{
    text-align: left;
    padding-left: 50px;
    padding-top: 310px;
    padding-bottom: 210px;
    color: #ffff;
}
.hero_content p{
    font-size: 20px;
    font-weight: 500;
}
.hero_content h3{
    font-size: 60px;
}
.hero_content h6{
    font-size: 20px;
    padding-top: 10px;
    font-weight: 400;
}

.hero_image{
    padding-top: 50px;
}
.hire_btn,.contact_btn{
    background: rgb(0, 206, 27);
    border: none;
    text-transform: uppercase;
    margin-top: 20px;
    width: 100px;
    padding: 8px;
    border-radius: 5px;
    font-weight: 600;
    transition: .3s;
}
.hire_btn:hover{
    background: #7C4002;
}
.contact_btn:hover{
    background: #7C4002;
}
.contact_btn{
    margin-left: 15px;
}
/* hero part end */

/* about part start */
.about_part{
    background: #EEFCFF;
    overflow-x: hidden;
    overflow-y: hidden;
}
.about_head{
    padding-top: 40px;
}
.about_image{
    padding-top: 50px;
    padding-bottom: 50px;
    
}
.about_image img{
    border-radius: 10px;
    
}
.about_content{
    padding: 20% 5%;

}

.about_content p{
    font-size: 25px;
}
.msg_btn,.mail_btn{
    margin-top: 20px;
}
.msg_btn{
    border-radius: 25px;
    width: 170px;
    height: 50px;
    border: 3px solid #37B8DF;
    background: rgb(0, 0, 0,.6);
    color: #37B8DF;
    text-transform: uppercase;
    transition: .4s;
}
.msg_btn a{
    color: #37B8DF;
    transition: .4s;
}
.msg_btn:hover{
    background: tomato;
}
.msg_btn:hover a{
    color: white;
}
.mail_btn{
    border-radius: 25px;
    width: 300px;
    height: 50px;
    border:none;
    background: transparent;
    font-size: 20px;

}
/* about part end */

/* service part start */
.service_con_main{
    padding-top: 20px;
    padding-bottom: 40px;
    transition: .4s;
}
.service_con{
    background: #f1f1f1;
    padding: 22px;
    position: relative;
    transition: .4s ;
    margin-top: 28px;
    
}    
.service_icon {
    height: 80px;
    width: 80px;
    background: #f1f1f1;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    margin: auto;
    top: -40px;
    left: 50%;
    transform: translateX(-50%);
    position: absolute;
    border: 8px double white;
    transition: .4s;
}
.service_con:hover .service_icon{
    background: tomato ;

}
.service_con:hover{
    box-shadow: 0 3px 8px rgba(0,0,0,.2);
    background: #37B8DF;
    color: #fff;
}
.service_con h4{
    padding-top: 20PX;
    text-transform: uppercase;
}
/* service part end */

/* protfolio part start */
.protfolio_part{
    background: #EEFCFF;
    overflow-x: hidden;
    overflow-y: hidden;
}
.prot_row{
    padding-top: 30px;
    padding-bottom: 30px;
}
.protfolio_con:hover .profolio_con_overlay{
    opacity: 1;
}
.protfolio_con{
    position: relative;
}
.profolio_con_overlay{
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,.4);
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
    transition: 0.4s;
    
}
.port_icon a {
    color: white;
}
.port_icon {
    height: 50px;
    width:50px;
    line-height: 50px;
    text-align: center;
    background: var(--secondary_color);
    border-radius: 50%;

}
.get_more{
    padding-bottom: 30px;
    text-align: center;
}
.get_btn{
    background: transparent;
    border: 2px solid #37B8DF;
    border-radius: 30px;
    width: 120px;
    height: 35px;
    transition: .4s;
}
.get_btn:hover a{
    color: white;
    transition: .4s;
}
.get_btn:hover {
    background-color: tomato;
}

/* protfolio part end */

/* skill part start */
.skill_part{
    overflow-x: hidden;
    overflow-y: hidden;
}
.skill_con{
    padding-top: 30px;
    padding-bottom: 40px;
}
.read_more_btn{
    width: 150px;
    height: 40px;
    border-radius: 5px;
    background: transparent;
    border:2px solid #37B8DF;
    transition: .4s;
}
.read_more_btn:hover{
    background: tomato;
    border:2px solid #37B8DF;
}
.read_more_btn a{
    color: #000;
    transition: .4s;
    font-size: 20px;
    font-weight: 500;
}
.read_more_btn:hover a{
    color: #fff;
}
.line{
    margin-bottom: 15px;
}
.skill_content{
    padding-right: 35px;
}
.progress_bar{
    padding-left: 35px;
}
.skill_content h5{
    font-family: 'Poppins', sans-serif;
    font-size: 30px;
    font-weight: 500;
}
.info{
    display: flex;
    justify-content: space-between;
}
.bars{
    background: lightgrey;
    height: 16px;
    width: 100%;
    position: relative;
}
.bars::before{
    content: '';
    position: absolute;
    height: 100%;
    background: #70E451;
}
.html::before{
    width: 90%;
}
.css::before{
    width: 80%;
}
.bootstrap::before{
    width: 75%;
}
.js::before{
    width: 40%;
}
.program_animation{
    padding-left: 0px;
}
/* skill part end */

/* contact part start */
.contact_part{
    background: #EEFCFF;
}
.contact_con{
    padding-top: 30px;
    padding-bottom: 40px;
}
.contact_content{
    margin-bottom: 10px;
}
/* .contact_info{
    display: flex;
    flex-direction: column;
} */
.contact_info h2{
    padding-top:30px;
    padding-left: 50px;
    font-family: 'Poppins', sans-serif;
}
.contact_info .p1{
    padding-left: 60px;
    padding-bottom: 20px;
    font-size: 20px;
    font-family: 'Poppins', sans-serif;
}
.contact_icon{
    padding-top: 2px;
    width: 50px;
    height: 50px;
    background: #a0dcee;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 22px;
}
.contact_icon i{
    color: #00c3ff;
}
.contact_text {
    padding-left: 15px;
    
}

.contact_text h3{
    font-size: 18px;
    font-weight: 400;
    color: #000;
    font-family: 'Poppins', sans-serif;
}
form h2{
    font-size: 25px;
    color: #37B8DF;
    font-weight: 500;
}
.contact_form{
    background: #fff;
    padding: 40px;
}
.inputBox{
    position: relative;
    width: 100%; 
    margin-top: 10px;
}
.inputBox input,
.inputBox textarea{
    width: 100%;
    padding: 5px 0;
    font-size: 16px;
    margin: 10px 0;
    border:none;
    border-bottom: 2px solid #333;
    outline: none ;
    resize: none;
}
.inputBox span{
    position: absolute;
    left: 0;
    padding: 5px 0;
    font-size: 16px;
    margin: 10px 0;
    pointer-events: none;
    transition: .5s;
    color: #666;
}
.inputBox input:focus ~ span,
.inputBox input:valid ~ span,
.inputBox textarea:focus ~ span,
.inputBox textarea:valid ~ span{
    color: #e91e63;
    font-size: 14px;
    transform: translatey(-20px);
}

.inputBox input[type="submit"]{
    width: 200px;
    background: #00bcd5;
    color: #fff;
    border: none;
    cursor: pointer;
    padding: 10px;
    font-size: 18px;
}
/* contact part end */

/* footer part start */
.footer{
    padding: 15px 0;
    background: #555;
    
}
.footer a{
    color: var(--secondary_color);
}
/* footer part end */